ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#main {
    text-align: center;
}

form {
    display: inline-block;
}

br {
    display: block;
    margin: 20px 0;
    line-height: 100px;
    content: " ";
}

.text {
    border-radius: 25px;
    border: 2px solid black;
    width: 400px;
    height: 30px;
}

.submit2 {
    border-radius: 25px;
    border: 2px solid black;
    background-color: blue;
    color: white;
}


.submit3 {
    border-radius: 25px;
    border: 2px solid black;
    background-color: blue;
    color: white;
    float: right;
    margin: 25px;
}

#h1 {
    color: red;
}

label {
    width: 18em;
    float: left;
    margin: 5px;
}

.input {
    margin: 5px;
    width: 18em;
}